<h1><%=$player1.name%> vs <%=$player2.name%></h1>
<h2><%= $player2.name%>'s Hit Points: <%= $player2.points%></h2>
<form action="/hit2" method="post">
  <input type="submit" value="Kick <%= $player2.name%>">
</form>
